.DS_Store
Thumbs.db
.vscode/
.idea/
*.iml
*.ipr
*.iws
*.swp
*.log
*.tmp
.history
.svn/

sportArena-api/.env
sportArena-api/.env.backup
sportArena-api/.env.production
sportArena-api/vendor/
sportArena-api/node_modules/
sportArena-api/public/storage
sportArena-api/public/build
sportArena-api/public/hot

sportArena-api/storage/.key
sportArena-api/storage/framework/cache/
sportArena-api/storage/framework/sessions/*
sportArena-api/storage/framework/views/*
sportArena-api/storage/logs/*
sportArena-api/.phpunit.result.cache
sportArena-api/auth.json

sportArena/.dart_tool/
sportArena/.packages
sportArena/.flutter-plugins
sportArena/.flutter-plugins-dependencies
sportArena/.pub-cache/
sportArena/.pub/
sportArena/build/
sportArena/coverage/
sportArena/.env

sportArena/app..symbols
sportArena/app..map.json

sportArena/android/app/debug/
sportArena/android/app/profile/
sportArena/android/app/release/
sportArena/android/key.properties
sportArena/ios/Flutter/Generated.xcconfig
sportArena/ios/Flutter/flutter_export_environment.sh
sportArena/ios/Flutter/.last_build_id

sportArena/android/app/.keystore
sportArena/android/app/.jks

migrate_working_dir/